@media (max-width: 1400px) {
	.background-decoration {
		img {
			height: rem(500);
		}
		.circle {
			clip-path: circle(38% at 102% 85%);
		}
	}
}
@media (max-width: 1124px) {
	html {
		font-size: 60%;
	}

	.background-decoration img {
		height: rem(450);
	}
}
@media (max-width: 768px), (max-height: 1024px) {
	.login-area {
		padding-bottom: 256px;
		margin-left: 64px;
	}
}
// @media (max-width: 710px) {
// }
// @media (max-width: 654px) {
// }
// @media (max-width: 616px) {
// }
// @media (max-width: 425px) {
// }
// @media (max-width: 280px) {
// }
@media (max-width: 414px) {
	html {
		font-size: 63.3%;
	}

	.login-area {
		padding: 0;
		margin: 0;
		width: 100vw;
	}

	.background-decoration {
		display: none;
	}
}
