#login-button {
	background-color: #8880fe;
	height: 40px;
	border-radius: 30px;
	outline: none;
	transition: 0.2s ease-in-out;
	margin: rem(22.4) 0 rem(21);
	cursor: pointer;
	padding: 0 rem(48);

	&:hover {
		background-color: #8880feb2;
	}
}
